<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1574267432553-4b4628081c31?q=80&w=3131&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1 class="my-3">Add a new list</h1>
    <%= simple_form_for(@list) do |l| %>
      <%= l.input :name, placeholder: "Add your list name here", label: false %>
      <%= l.submit "Create List", class: "btn btn-success mt-3" %>
    <% end %>
    <%= link_to "See your lists", lists_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>
